GC_resnet1/frozen_inference_graph.pb filter=lfs diff=lfs merge=lfs -text
GC_resnet1/model.ckpt.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
GC_resnet1/saved_model/saved_model.pb filter=lfs diff=lfs merge=lfs -text
