absl-py==0.7.0
altgraph==0.16.1
astor==0.7.1
cycler==0.10.0
gast==0.2.2
grpcio==1.18.0
h5py==2.9.0
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
kiwisolver==1.0.1
lxml==4.3.0
macholib==1.11
Markdown==3.0.1
matplotlib==3.0.2
modulegraph==0.17
numpy==1.16.0
opencv-python==4.0.0.21
Pillow==5.4.1
protobuf==3.6.1
py2app==0.18
pyparsing==2.3.1
PyQt5==5.11.3
PyQt5-sip==4.19.13
python-dateutil==2.8.0
six==1.12.0
tensorboard==1.12.2
tensorflow==1.12.0
termcolor==1.1.0
Werkzeug==0.14.1
